<div style="display: flex;">
    <div style="">
        <h1>Liste des devoirs à rendre</h1>
    </div>
    <div style="padding: 12px 0px ;margin-left: 20px;" *ngIf="type==3">
        <a routerLink="/add" style="margin-top: 15px;" >
            <button mat-flat-button style="background-color: #529f5a;"> Ajouter Assignment
            </button>
        </a>
    </div>
</div>

<!-- [length]="totalPages" -->
<main class="container">    
    <mat-paginator [pageSizeOptions]="[3, 9, 12,15,18 ]"
    showFirstLastButtons
    aria-label="Selection de la page des assigments"
    (page)="handlePage($event)"
    class="demo-paginator"
    [length]="totalPages"
    [pageSize]="limit"
    [pageIndex]="page" >
</mat-paginator>
</main>

<div style="display: flex;flex-direction:row;flex-wrap: wrap;margin-top: 20px;" >
    <div *ngFor="let assignment of assignments" style="width: 300px;margin: 0 auto ;margin-top: 20px;">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image" style="border-radius: 50%;">
                    <img width="50" height="50" mat-card-image src="https://imgtr.ee/images/2023/06/20/Z4L0A.png" alt="Photo of a Shiba Inu">
                </div>
                <mat-card-title>{{assignment.nom}}</mat-card-title>
                <mat-card-subtitle>Etudiant</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://imgtr.ee/images/2023/06/20/Z4xEz.png" alt="Photo of a Shiba Inu">
            <mat-card-actions>
                <button mat-button>Note :</button>
                <button mat-button>{{assignment.note}} </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
