<!-- Toolbar -->
<mat-toolbar style="background-color: #3f51b5;color:rgb(7, 5, 5);">
    <button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>

    <span>
        <a routerLink="/home"  class="custom-link">{{title}}</a>
    </span>
    <span class="spacer"></span>
    <a routerLink="/login" class="custom-link">
        <button mat-button class="login-button" (click)="login()">{{ authService.isActive() ?  "Se déconnecter" : "Se connecter"}}</button>
    </a>
</mat-toolbar>
<!-- End Toolbar -->

<!-- Sidebar -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <!-- <p>
        <button mat-raised-button color="primary" (click)="creerDonneesDeTest()">
            Peupler BD avec données de test alefa 
        </button>-
    </p> -->

<!-- Indique que le composant affiché sera celui
 correspondant à l'URL courant
-->

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
  
<!-- End sidebar -->

