.custom-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}
  
.login-button {
  margin-left: 16px;
}

.sidenav {
  width: 200px; 
}

.sidenav-container {
  height: 100vh; 
}

.sidenav-content {
  padding: 10px;
}